[Unit]
Description=borgmatic backup
Wants=network-online.target
After=network-online.target
OnFailure=service-failure-email@%n.service

[Service]
Type=oneshot

Environment=SSH_AUTH_SOCK=/run/user/%U/keyring/ssh
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus
EnvironmentFile=%h/.sh_env.local

# Lower CPU and I/O priority.
Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
IOWeight=100

Restart=no
# Prevent rate limiting of borgmatic log events. If you are using an older version of systemd that
# doesn't support this (pre-240 or so), you may have to remove this option.
LogRateLimitIntervalSec=0

# Delay start to prevent backups running before graphical login and other initialization is done.
ExecStartPre=sleep 5m
# Note that systemd-inhibit requires dbus and dbus-user-session to be installed.
ExecStart=systemd-inhibit --who="borgmatic-launch.sh" --what="sleep:shutdown" --why="Prevent interrupting scheduled backup" %h/.local/bin/borgmatic-launch.sh --syslog-verbosity 1 --stats

#[Install]
#WantedBy=default.target
