# Adapted from:
#  https://github.com/borgmatic-collective/borgmatic/blob/main/sample/systemd/borgmatic-user.timer

[Unit]
Description=Run borgmatic backup

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
