[Unit]
Description=KeePassXC unlock using PAM password
Wants=network-online.target
After=network-online.target

[Service]
Environment=PATH=/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/usr/local/sbin
Restart=on-failure
ExecStart=/usr/local/sbin/keepassxc-sendpass.sh

[Install]
WantedBy=default.target
