alias cp='cp -i'                          # confirm before overwriting something
alias mv='mv -i'                          # confirm before overwriting something
alias df='df -m'                          # show sizes in MB
alias free='free -m'                      # show sizes in MB
alias vi=nvim
alias vim=nvim
alias ldd=libtree

type fdfind >/dev/null 2>/dev/null && alias fd=fdfind
alias cat=bat
type batcat >/dev/null 2>/dev/null && alias cat=batcat

alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias ip='ip -color=auto'
alias ncdu='ncdu --color dark'
alias tldr='tldr --pager'

alias ls='eza -gH --color=always --group-directories-first'
alias la='eza -agH --color=always --group-directories-first'
alias ll='eza -lgH --color=always --group-directories-first'
alias lt='eza -gH --sort=modified --reverse --color=always --group-directories-first'
alias tree='tree -CAhF --dirsfirst'
alias treed='tree -CAFd'
alias kssh="kitty +kitten ssh"

alias cdl='cd ~/projects/lightspeed-spark'
alias cdy='cd ~/projects/ybox'
alias cds='cd ~/projects/spark'
alias cdm='cd ~/product/mariadb'
alias cds0='cd ~/product/snappydata'
alias cds1='cd ~/product/1.snappydata'
alias lessdp='less *dunit*/*progress*.txt'
alias lessR='less -RL'
alias q='QHOME=~/q rlwrap -r ~/q/l32/q'
alias rmvmtmp='rm -rf vm_* .attach_pid* spark-warehouse target'
alias vsd='/usr/local/vsd/bin/vsd'
[ "$TERM" = "xterm-kitty" ] && alias ssh='TERM=xterm-256color /usr/bin/ssh'

alias k=kubectl
alias kpods='kubectl get pods'
alias kdesc='kubectl describe'
alias kdel='kubectl delete deployment'
alias kkill='kubectl delete --grace-period=0'
alias kstop='kubectl scale --replicas=0 deployment'
alias kstart='kubectl scale --replicas=1 deployment'
alias krestart='kubectl rollout restart deployment'
alias kgetAll='kubectl get nodes,pods,services,deployments,jobs,daemonset,statefulset,ingress,pv,pvc,secret,configmap,storageclass'
alias kctxLocal='kubectl config use-context kubernetes-admin@kubernetes'
alias kctxMdbEks='kubectl config use-context mdb-spark-eks'
alias kctxMdbGke='kubectl config use-context mdb-spark-gke'
alias ctr='sudo ctr -n=k8s.io'
alias cctl='sudo crictl -r unix:///run/containerd/containerd.sock'

[ -r "$HOME/.aliases.local" ] && . "$HOME/.aliases.local"
