[Desktop Entry]
Name=PanGPUI
Type=Application
Exec=/opt/paloaltonetworks/globalprotect/PanGPUI
Terminal=false
Hidden=true
X-GNOME-Autostart-enabled=false
