[Desktop Entry]
Name=Backup timers
Comment=Start timers for remote backup and check
Exec=start-timers.sh
Icon=timers
Terminal=false
Type=Application
Categories=System;
