[Desktop Entry]
Name=Tracker File System Miner
Comment=Crawls and processes files on the file system
Exec=/usr/libexec/tracker-miner-fs-3
Terminal=false
Type=Application
Categories=Utility;
X-GNOME-Autostart-enabled=false
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
NoDisplay=true
Hidden=true
OnlyShowIn=KDE;XFCE;X-IVI;Unity;
