[Desktop Entry]
Version=1.0
Type=Application
Name=kitty (single window)
GenericName=Terminal emulator
Comment=A fast, feature full, GPU based terminal emulator
TryExec=kitty
Exec=kitty-single.sh
Icon=kitty
Terminal=false
StartupNotify=false
Categories=System;TerminalEmulator;
