[Unit]
Description=set watt limit (repeat every 10 seconds if configured)

[Service]
User=root
WorkingDirectory=/usr/local/powerlimit
ExecStart=sh wait-watt.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
