[Unit]
Description=Sets watt limit every 10 seconds

[Service]
User=root
WorkingDirectory=/home/sumedh/config/powerlimit
ExecStart=sh wait-watt.sh
Restart=always

[Install]
WantedBy=multi-user.target
